body{
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100vw;
    background: black
}
.text{
    font-family: 'Bebas Neue', cursive;
    padding-left: 0;
    color: white;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 0%;
}
.text h1{
    font-size: 80px;
    margin-left:250px ;
    margin-top:170px;
    text-align: left;
}
.text h2{
    text-align: center;
    font-size: 80px;
    margin-top:170px;

}
.spotifylogo img{
    width: 500px;
    margin-top: 60px;
    align-self: center;
    margin-left: 1000px;
}
.traco hr{
    margin-top: 100px;
    margin-left:250px;
    padding-left: 0;
    border: 1px solid #AF0C19;
}
.headphone img{
    align-items: center;
    width: 900px;
    margin-left: 850px;
    padding-left: 0;
    margin-top: 10px;
}

.text hr{
    margin-top: 1000px;
    margin-left:250px;
    padding-left: 0;
    border: 1px solid #AF0C19
    
}
button{
    background-color: #fefefe;
    width: 350px;
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 450px; 
    margin-left: 1550px; 
    
}
button:hover{
    background-color: #E21221;
    color: white;
}
.Roll{
    margin-top: 150px; /* mudar essa margem para alterar a altura do slide */
    margin-left: 350px;
    height: 720px;
    width: 1280px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 30%;
    transform: translate(-10%, -30%);
}
.nav{
    position: absolute;
    top: 650px;  /*mudar aqui para a altura dos pontos de slide */
    left: 75%; /* aqui também para ajustar o slide */
    transform: translate(-79%);
    display: flex;
}

.barr{
    width:150px;
    height: 17px;
    border:2px solid #030202;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.barr:hover{
    background-color:#E21221 ;
    border-color: black;
}

.Roll input {

    margin-top: 400px;
    display:none;
}
.slides{
    display:flex;
    width:700%;
    height:100%;
}
.slide{
    width: 14.28%; /*7 imagens, 100/7 ~=14,28 */
    transition:0.5s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~.s1{
    margin-left: 0;
}

#slide2:checked ~.s1{
    margin-left: -14.28%;   /*negativo pois as imagens moverão <<< */
}

#slide3:checked ~.s1{
    margin-left: -28.56%;   
}

#slide4:checked ~.s1{
    margin-left: -42.84%;   
}
#slide5:checked ~.s1{
    margin-left: -57.13%;   
}
#slide6:checked ~.s1{
    margin-left: -71.41%;   
}
#slide7:checked ~.s1{
    margin-left: -85.69%;   
}

