
.area-adduser{
    padding-top: 0px;
    display: flex;
    height: 420px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 603px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 90%;
    }
}
@media (max-width: 550px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 40%;


    }
}

.titulo hr{
    margin-top: 3%;
    padding-top: 0;
    width: 655px;
    border: 1px dashed #AF0C19;
}
label{
    color: white;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0px;
    padding-left: 1%;
    font-weight: 300;
    font-size: 150%;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #221F1F;
    width: 600px;
    height: auto;
    padding:30px;
    border-radius: 6px;
}

.info form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info input{
    font-size: 20px;
    margin-top:-5px;
    background-color: #d7d7d7;
    color: #000000;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 5px;
}



.info img{
    height: 100px;
    width: auto;
}



form [type="submit"]{
    display: block;
    background-color: #E21221;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5%;
    width: 30%;
    margin-left: 60%;
    color: #d7d7d7;
    font-family: 'Bebas Neue', cursive;
    
}

form [type="button"]{
    background-color: #E21221;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -7.5%;
    width: 30%;
    margin-left: 10%;
    float: left;
    color: #d7d7d7;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;

    
}
form [type="submit"]{
    color: #d7d7d7;
    cursor: pointer;
    
}
form [type="button"]:hover{
    background-color:#AF0C19;
    color: white;

}

form [type="submit"]:hover{
    background-color:#AF0C19;
    color: white;

}


h1{
    color: #d7d7d7;
    margin: 4px;
}