* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

body, .page-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #d7d7d7;
    background-color: #D7D7D7;
}

.page-content {
    width: 400px;
    height: 217px;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #221F1F;
}
@media (max-width: 603px)
{
    .page-content{
        display: block;
        padding-top: 0px;
        scale: 90%;
        margin: auto;
    }
    .page-container{
        display: flex;
        justify-content:center;
    }
}


.title {
    width: 96%;
    padding: 7px 7px 5px 7px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
hr{
    border: 1px dashed #AF0C19;
}
.title i {
    font-size: 1.5rem;
    height: 1.5rem;
}

.title i:hover {
    cursor: pointer;
}

.text {
    width: 96%;
    height: 100px;
    padding: 7px;
    display: flex;
    align-items: center;
}

.text p {
    font-size: 1.2rem;
}

.btn {
    width: 96%;
    height: 41px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.btn button {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    border: none;
    color: #D7D7D7;
    background-color: #AF0C19;
}

.title:hover, .text:hover {
    cursor: default;
}

.btn button:hover {
    cursor: pointer;
}

@media (min-width: 768px)
{
    .page-content {
        width: 500px;
    }
}
