html{
    font-family: 'Bebas Neue';
}

body{
    background-color: #666262;
    color: #1d1a1a;
}

#main{
    background-color: #221F1F;
    color: #d7d7d7;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

#arq{
    background: linear-gradient(90deg,#221F1F, #AF0C19, #221F1F);
    background-repeat: no-repeat;
    color: #d7d7d7;
}