*{
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  color: #d7d7d7;
}
body {
background-color: #000;
overflow-x: hidden;
}

.carousel-here{
padding: 0%;
width: 100%;
margin-top:5%;
margin-left: 0%;
margin-left: 0;
}


.line1 {
width: 100%;
border-top: 1px solid red;
padding: 0;
padding-top: 0%;
height: 2px;
margin-top: 3%;
margin-bottom: 1%;
}

.carousel-control-prev, .carousel-control-next{
  display: block;
  padding-top: 300px;
  width: 95px;
  height: 100px;
  align-content: center;

}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E21221' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E21221' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

/*cardsultimosposts */


.ultposts h1{
  width: 90%;
  padding: 0;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 3%;
  text-align: left;
  margin-top: 0%;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.cartas{

display: flex;
justify-content: center;
}
.titulo-card{
color: #E21221;
font-size: 20px;
}
.card-corpo{
font-size: 20px;

}
.carta1{
  display: inline-block;
  width: 20rem;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #221F1F;
  color: #d7d7d7;
  margin-left: 5%;
}
.carrosseliner {
  position: absolute;
  scale: 100%;
  width: 100%;
}


.btn-primary{
border-radius: 20px;
border: 1px solid transparent;
transition: .5s;
background-color: #E21221;
color: white;
font-family: 'Bebas Neue', cursive;
text-transform: uppercase;
}
.btn-primary:hover{
color: #d7d7d7;
background-color: transparent;
border-color: #E21221;

}
.btn-secondary {
font-size: 30px;
padding: 5px 30px;
border-radius: 20px;
border: 1px solid transparent;
transition: .5s;
background-color: #E21221;
color: white;
font-family: 'Bebas Neue', cursive;
text-transform: uppercase;
}


.carrosseliner {
  position: relative;
  scale: 100%;
  width: 100%;
  overflow: hidden;
      text-align: center;
      margin-right: 0;
}
.primarr{
  margin-top: 10%;
}


.btn-secondary:hover {
text-decoration: none;
color: #d7d7d7;
background-color: #221F1F;
border-color: #E21221;
}

.logo{
width: 300px;
margin: auto;
display: block;
margin-top: -30px;

}

.card{
background: #221F1F;
color: #d7d7d7;
margin-left: 0%;
width: 20rem;
}
.card:hover{
transform:scale3d(1.010, 1.010, 1)
}


/*   */
.juntspotify{
display: flex;
justify-content:space-between;
}
.logospotify2{
margin-right: 0%;

}
.logospotify2:hover{
transform:scale3d(1.1, 1.1, 15)
}
.texto2spotify h1{
width: 100%;
padding-left: 15%;
text-align: center;
margin-top: 15%;
font-family: 'Bebas Neue', cursive;
color: white;
}
/*  */
.juntdiscord{
display: flex;
justify-content:space-between;
}
.logodiscord{
margin-right: 0%;
}

.logodiscord:hover{
transform:scale3d(1.1, 1.1, 5)
}

.texto3discord h1{
  width: 100%;
padding-left: 15%;
text-align: center;
margin-top: 15%;
font-family: 'Bebas Neue', cursive;
color: white;
}


@media (max-width: 1300px){

  .ultposts h1{
      font-size: 15px;
      width: 50%;
  }
  .texto2spotify h1{
      padding-top: 15%;
      font-size: 15px;
  }
  .texto3discord h1{
      padding-top: 15%;
      font-size: 15px;
  }

  .logo{
      width: 300px;
      margin: auto;
      display: block;
      margin-bottom: 5px;
      margin-top: 0px;
      scale: 80%;
    
    }


.carousel-control-prev, .carousel-control-next{
display: block;
padding-top: 450px;
width: 95px;
height: 100px;
align-content: center;
}
  
.line1{
  width: 100%;
  
}
.carta1{

  margin-left: 0%;
}
.cartas{
  margin: 0%;
  display: block;
  justify-content: center;
}
.card-corpo{
      font-size: 14px;
}
.titulo-card{
  font-size: 14px;
}
.card{
  width: 12rem;
}

.cartas{
  text-align: center;
}
}

@media (max-width: 1000px){
.carousel-control-prev, .carousel-control-next{
  display: block;
  padding-top: 400px;
  width: 95px;
  height: 100px;
  align-content: center;
 }
}

@media (max-width: 760px){
.carousel-control-prev, .carousel-control-next{
    display: block;
    padding-top: 325px;
    width: 95px;
    height: 100px;
    align-content: center;
   }
  }

@media (max-width: 500px){
.btn-secondary {
font-size: 15px;
padding: 5px 25px;
}

.carousel-control-prev, .carousel-control-next{
display: block;
padding-top: 275px;
width: 95px;
height: 100px;
align-content: center;
}
}

@media (max-width: 300px){

.carousel-control-prev, .carousel-control-next{
  display: block;
  padding-top: 235px;
  width: 95px;
  height: 100px;
  align-content: center;
 }
}