* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
  color: #d7d7d7;
}

body, .page-container {
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
  overflow-x: hidden;
}

h1 {
  padding: 60px 0;
  text-align: center;
}


h1:hover {
  cursor: default;
}


/* BOTÃO DE ADICIONAR POST */
.btn-adicionar {
  width: 100%;
  margin-bottom: 20px;
  padding-right: 20px;
  text-align: right;
}

.btn-adicionar button {
  width: 170px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: #AF0C19;
}
.btn-adicionar button:hover{
  background-color: #E21221;
  color: white;
  transform:scale3d(1.05, 1.05, 1);
}

/* TABELA DA LISTA DE POSTS */
table thead {
  background-color: #AF0C19;
}

.title-acao {
  text-align: center;
}

table td {
  
  font-size: .9rem;
}

table tr {
  line-height: 40px;
  border-bottom: 2px solid #AF0C19;
}

table tr:hover {
  --bs-table-hover-color: 0;
  color: #d7d7d7;
  cursor: default;
}

.btn-acoes {
  width: 100%;
  height: 40px;
  padding: 1px 0 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.btn-acoes button {
  border: none;
  background-color: transparent;
}

.btn-acoes i {
  font-size: 1rem;
}

i{
  transition: ease-in-out 0.2s;
}

i:hover{
  color: #AF0C19;
  transition: ease-in 0.1s;
}

.btn-acoes i:hover {
  cursor: pointer;
}

.number {
  text-align: center;
}

#logo-min{
  padding: 0;
  margin-bottom: 10px;
  width:50px;
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#logo-min:hover{
  transform: scale(1.3);
}

@media (min-width: 768px) {
  table tr{
    line-height: 40px;
  }
  .btn-acoes {
      flex-direction: row;
      justify-content: space-evenly;
  }
}
@media (min-width: 280px) {
  .btn-adicionar {
      padding-right: 0;
      text-align: center;
  }

  table td {
    
      font-size: .8rem;
  }


  table tr {
      line-height: 25px;
      font-size: .8rem;
  }

  .btn-acoes {

      height: auto;
  }

}

@media (min-width: 480px) {
  .btn-adicionar {
      padding-right: 20px;
      text-align: right;
  }
}
/* ---------------------------------------------------------------- */
.container-modal{
  display: flex;
  margin: 0, auto;
  justify-content: center;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgb(10, 12, 10);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #1d1a1a;
  letter-spacing: 0px;
  z-index: 10;
}

#wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

p{
  text-align: center;
}

#logo{
  width:200px;
  margin: -20px;
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

#logo:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

#title {
  color: #AF0C19;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  transition: 0.1s;
}

#title2:hover{
  color: #d7d7d7;
  transition: ease-in-out 1s;
  background: linear-gradient(90deg,#221F1F, #AF0C19, #221F1F);
  background-repeat: no-repeat;
  background-size: 70%;
  animation: grad 2s linear forwards;
}

@keyframes grad{
  0%{
      background-position: -500%;
  }
  55%{
      background-position: 500%;
  }
  100%{
      background-position: 500%;
      background: none;
  }
}

.main {
  width: 500px;
  height: auto;
  padding: 25px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #221F1F;
  color: #d7d7d7;
}

@media (max-width: 768px) {
  #modalnewpost,#editarPost,#visualizarPost,#excluirPost{
    width: auto;
    flex-direction: row;
  }
  .btn-acoes {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}
  
}

#arq{
  background: linear-gradient(90deg,#221F1F, #AF0C19, #221F1F);
  background-repeat: no-repeat;
  color: #d7d7d7;
}

.formbtn {
  font-family: 'Bebas Neue';
  background-color: #AF0C19;
  color:#d7d7d7;
  margin: 5px;
  transition: ease-in-out 0.32s;
}
figcaption{
  display: none;
}
.formbtn:hover {
  background-color: #E21221;
  color:white;
  transition: ease-in-out 0.32s;
}
.fade-modal{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  pointer-events: all;
}

.hide{
  opacity: 0;
  top:0;
  pointer-events: none;
}


/*************************************/


.linkdapagina{
  background-color: #E21221;
  color: #d7d7d7;
  border-color: black;
  font-family: 'Bebas Neue', cursive;
  scale: 100%;
}

.ativo{
  background-color: white;
  color: black;
  border-color: black;
  font-family: 'Bebas Neue', cursive;
  scale: 100%;
}

.linkdapagina:hover{
  background-color: #d7d7d7;
  color: black;
}


@media only screen and (max-width: 600px) {
  .main{
      margin-top: 0;
      margin-bottom: 0;
      width: 100vw;
  }

  input[type="text"] {
      line-height: 1.2;
  }

  input[type="submit"], button[type="button"] {
      font-size: 1.1rem;
      line-height: 1.5rem;
  }
}