* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    color: #d7d7d7;
}

body, .page-container {
    max-width: 100%;
    max-height: 100%;
    background-color: #221F1F;
}

h1 {
    padding: 60px 0;
    text-align: center;
}

h1:hover {
    cursor: default;
}


/* BOTÃO DE ADICIONAR USUÁRIO */
.btn-adicionar {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

.btn-adicionar button {
    width: 170px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #AF0C19;
}

/* TABELA DA LISTA DE USUÁRIO */
table thead {
    background-color: #AF0C19;
}

.title-acao {
    text-align: center;
}

table td {
    font-size: .9rem;
}

table tr {
    line-height: 40px;
    border-bottom: 2px solid #AF0C19;
}

table tr:hover {
    --bs-table-hover-color: 0;
    color: #d7d7d7;
    cursor: default;
}

.btn-acoes {
    width: 100%;
    height: 40px;
    padding: 1px 0 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.btn-acoes button {
    border: none;
    background-color: transparent;
}

.btn-acoes i {
    font-size: 1rem;
}

.btn-acoes i:hover {
    cursor: pointer;
    color: #AF0C19;
}

.number {
    text-align: center;
}

@media (min-width: 280px) {
    .btn-adicionar {
        padding-right: 0;
        text-align: center;
    }

    table td {
        font-size: .8rem;
    }

    .email {
        display: block;
        width: 79px;
        height: auto;
        overflow-wrap: break-word;
        border-bottom: none;
    }
    
    table tr {
        line-height: 25px;
        font-size: .8rem;
    }
    
    .btn-acoes {
        flex-direction: column;
        height: auto;
    }
    
}

@media (min-width: 480px) {
    .btn-adicionar {
        padding-right: 20px;
        text-align: right;
    }

    .email {
        width: auto;
        display: table-cell;
    }
}

@media (min-width: 768px) {
    table tr {
        line-height: 40px;
    }

    .btn-acoes {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.4);
    pointer-events: all;
    z-index: 1;
}


.hide{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.modal-user{
    position: fixed;
    background-color: rgb(54, 53, 53);
    z-index: 5;
    left: 50%;
    right: 50%;
    top: 5px;
    transition: all 0.1s ease-in-out;
}
