  
    
    .profile-details, .bx-menu{
        cursor: pointer;
    }

    .home-section{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .home-section nav{
        height: 50px;
        background: #3d3b3b;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo{
        width: 200px;
        margin: auto;
        display: block;
        margin-bottom: 0;
        margin-top: -25px;
      
      }
    nav .profile-details{
        display: flex;
        height: 50px;
        align-items: center;
        background-color: #cecbcbec; /*naomexer*/
        border: 2px solid #443133; /*talvezmexer*/
        border-radius: 6px;
        padding: 0 15px 0 2px;
        
    }
    
    nav .profile-details img{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 6px;
    }
    .more{
        color: white;
    }
    nav .profile-details .admin_name{
        font-size:15px;
        font-weight: 500;
        color: #E21221;
        margin: 0 10px;
        white-space: nowrap;
    }
    nav .profile-details i{
        color: #E21221;
        font-size: 25px;
    }
    
    
    
    
    
    