

/* NAVBAR */
.navbar-container {
    background-color: #221F1F;
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-container img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.navbar-links {
    justify-content: right;
}

.navbar-links li {
    padding: 10px;
    font-size: 1.1rem;
}

.navbar-container a, .navbar-links a {
    color: #d7d7d7;
}

.navbar-container a:hover, .navbar-links a:hover {
    color: #9f7d7d;
}

.navbar-container a:focus, .navbar-links a:focus {
    color: #AF0C19;
}

.navbar-container button[type="button"]:focus {
    box-shadow: none;
}

/* CONTEÚDO */
.page-content {
    padding-bottom: 13rem;
}
 
/* FOOTER */
footer {
    padding: 10px 0;
    height: auto;
    text-align: center;
    bottom: 0;
    background-color: #221F1F;
}

footer h3 {
    margin-bottom: 0;
    color: #d7d7d7;
}

footer p{
    margin-bottom: 0;
    color: #d7d7d7;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    color: #9f7d7d;
}

footer .copy:hover {
    cursor: default;
}

footer i{
    color: #d7d7d7;
    font-size: 1.3rem;
}

footer svg {
    margin: 10px 6px 10px 0;
    width: 40px;
    height: 20px;
}