body{
    background-color: #000000;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;

}

.area-adduser{
    padding-top: 0px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
@media (max-width: 603px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 90%;


    }
}
@media (max-width: 550px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 42%;


    }
}

.titulo hr{
    margin-top: 3%;
    padding-top: 0;
    width: 655px;
    margin-bottom: 6%;
    border: 1px dashed #AF0C19;
}
label{
    color: white;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0px;
    padding-left: 1%;
    font-weight: 300;
    font-size: 150%;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #221F1F;
    width: 600px;
    height: 500px;
    padding:30px;
    border-radius: 6px;
}

.info form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info input{
    font-size: 20px;
    margin-top:-5px;
    background-color: #d7d7d7;
    color: #000000;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 5px;
}



.info img{
    height: 100px;
    width: auto;
}




.botoes{
    display: flex;
    justify-content:center;
    margin-top: 5%;
    
}
form [type="button"]{

    background-color: #E21221;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #d7d7d7;
    width: 30%;
    cursor: pointer;


    
}
form [type="button"]:hover{
    background-color:#AF0C19;
    color: white;

}
h1{
    color: #d7d7d7;
    margin: 4px;
}
p{
    padding-top: 0;
    margin-top: 0;
    color: #E21221;
    text-transform: uppercase;
    font-size: 18px;
}