body{
    background-color: #000000;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;

}

.area-adduser{
    padding-top: 0px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
@media (max-width: 603px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 90%;


    }
}
@media (max-width: 550px)
{
    .area-adduser{
        padding-top: 0px;
        scale: 40%;


    }
}

.titulo hr{
    margin-top: 5%;
    padding-top: 0;
    width: 655px;
    border: 1px dashed #AF0C19;
}
label{
    color: white;
    margin-top: 10px;
    padding-left: 1%;
    font-weight: 300;
    font-size: 200%;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #221F1F;
    width: 600px;
    height: 700px;
    padding:30px;
    border-radius: 6px;
}

.info form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info input{
    font-size: 20px;
    margin-top: 0px;
    background-color: #d7d7d7;
    color: #000000;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
}



.info img{
    height: 100px;
    width: auto;
}



form [type="submit"]{
    display: block;
    background-color: #E21221;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5%;
}
h1{
    color: #d7d7d7;
    margin: 4px;
}


