*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Bebas Neue', cursive;
}

body{
    background-color: #221F1F;
    width: 100%;
}
.home-section{
    background:#f5f6f5;
    position: relative;
    width: 100%
}

.home-section nav{
    height: 80px;
    background: #d7d7d7;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard{
    font-size: 20px;
}

nav .profile-details{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #cecbcbec;
    border: 2px solid #e7dfdf;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}
nav .profile-details .admin_name{
    font-size:15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i{
    color: #333;
    font-size: 25px;
}
/*a partir daqui é oq n foi comitado */
.home-section .home-content{
    position: relative;
}
.home-content .overview-boxes .box{
    width: calc(100%/4 -15px);
    display: flex;
    align-items: center;
    padding: 15px 14px;
    background:#fff ;
    
}
.home-content .overview-boxes .box_topic{
    font-size: 20px;
    font-weight: 500;
}
.home-content .overview-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 414px){
    .home-content .overview-boxes{

        display: block;

    }
}
.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}
.overview-boxes .indicator {
display: flex;
align-items: center;
}
.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background:#02f236;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}
.overview-boxes .indicator i.down{
    height: 20px;
    width: 20px;
    background:#E21221;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

.overview-boxes .indicator .text{
    font-size:12px;
}
.overview-boxes .box .bxs-file-plus{
font-size: 32px;
font-weight: 500;
height: 50px;
width: 50px;
background: #d7d7d7;
color: #AF0C19;
line-height: 50px;
text-align: center;
border-radius: 12px;
}

.overview-boxes .box .bx-user-plus{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #d7d7d7;
    color: #AF0C19;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    }

    .overview-boxes .box .bxl-instagram{
        font-size: 32px;
        font-weight: 500;
        height: 50px;
        width: 50px;
        background: #d7d7d7;
        color: #AF0C19;
        line-height: 50px;
        text-align: center;
        border-radius: 12px;
        } 