<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas+neue' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="home-section">
        <nav>

            <div class="sidebar-button">
                <i class="bx bx-menu"></i>
            </div>

            <div class="profile-details">
                <img src="../../../public/img/profile.png" alt="">
                <span class="admin_name">Admin</span>
                <i class="bx bx-chevron-down"></i>
            </div>
        </nav>
        <div class="logo">
            <img src="../../../public/img/MatflixLogoText.png" alt="MatFlix" class="logo">
          </div>
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="left-side">
                        <div class="box_topic ">Postagens</div>
                        <div class="number green">1363</div>
                        <div class="indicator">
                            <i class="bx bx-up-arrow-alt"></i>
                            <span class="text">this week</span>
                        </div>
                    </div>
                    <i class='bx bx-file' ></i>                </div>
                <div class="box">
                    <div class="left-side">
                        <div class="box_topic ">Novos Usuários</div>
                        <div class="number green">159</div>
                        <div class="indicator">
                            <i class="bx bx-up-arrow-alt"></i>
                            <span class="text">this week</span>
                        </div>
                    </div>
                    <i class='bx bx-user-plus' ></i>
                </div>
                <div class="box">
                    <div class="left-side">
                        <div class="box_topic ">Seguidores</div>
                        <div class="number red">267</div>
                        <div class="indicator">
                            <i class="bx bx-down-arrow-alt down"></i>
                            <span class="text">this week</span>
                        </div>
                    </div>
                    <i class='bx bxl-instagram' ></i>
                </div>
                <div class="box">
                    <div class="left-side">
                        <div class="box_topic ">Reclamações</div>
                        <div class="number red">5</div>
                        <div class="indicator">
                            <i class="bx bx-down-arrow-alt down"></i>
                            <span class="text">this week</span>
                        </div>
                    </div>
                    <i class='bx bx-sad' ></i>
                    </div>
            </div>
            <div class="funcionarios-boxes">
                <div class="recent-sale box">
                    <div class="title">Controle de funcionários</div>
                    <div class="funcionarios-details">
                        <ul class="details">
                            <li class="topic funcionarios">Funcionário(a)</li>
                            <li><a href="#">João Silva</a> </li>
                            <li><a href="#">Carlos Marcos</a> </li>
                            <li><a href="#">Letícia Soares</a> </li>
                            <li><a href="#">Pedro Gomes</a> </li>
                            <li><a href="#">Jonas Novais</a> </li>
                            <li><a href="#">Camila Jesus</a> </li>
                        </ul>
                        <ul class="details">
                            <li class="topic email">E-mail</li>
                            <li><a href="#">joao201@matflix.com</a> </li>
                            <li><a href="#">carlosmarcos11@matflix.com</a> </li>
                            <li><a href="#">leticiasoares74@matflix.com</a> </li>
                            <li><a href="#">pedrogomes@matflix.com</a> </li>
                            <li><a href="#">j.nov@matflix.com</a> </li>
                            <li><a href="#">cami.23@matflix.com</a> </li>
                        </ul>
                        <ul class="details">
                            <li class="topic situa">Situação</li>
                            <li><a href="#">Ativo</a> </li>
                            <li><a href="#">Ativo</a> </li>
                            <li><a href="#">Ativo</a> </li>
                            <li><a href="#">Ativo</a> </li>
                            <li><a href="#">Ativo</a> </li>
                            <li><a href="#">Ausente</a> </li>
                        </ul>
                        <ul class="details">
                            <li class="topic horas">Horas Semanais</li>
                            <li><a href="#">54 horas</a> </li>
                            <li><a href="#">25 horas</a> </li>
                            <li><a href="#">20 horas</a> </li>
                            <li><a href="#">13 horas</a> </li>
                            <li><a href="#">49 horas</a> </li>
                            <li><a href="#">0</a> </li>
                        </ul>
                    </div>
                    <div class="button">
                        <a href="#">Ver todos</a>

                    </div>
                </div>

                <div class="top-show box">
                    <div class="title">Títulos mais comentados</div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../../../public/img/breakingbad.jpg" alt="Breaking bad image">
                                <span class="show_name">Breaking Bad</span>  
                            </a>
                            <span class="postagens">233 POSTAGENS</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../public/img/strangerthings3.jpg" alt="Stranger thins image">
                                <span class="show_name">Stranger things</span>  
                            </a>
                            <span class="postagens">149 POSTAGENS</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../public/img/sandman3.jpg" alt="Sandman image">
                                <span class="show_name">Sandman</span>  
                            </a>
                            <span class="postagens">103 POSTAGENS</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../public/img/vinlandsaga3.jpg" alt="Vinland Saga image">
                                <span class="show_name">Vinland Saga</span>  
                            </a>
                            <span class="postagens">99 POSTAGENS</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../public/img/Ozark.jpg" alt="Ozark image">
                                <span class="show_name">Ozark</span>  
                            </a>
                            <span class="postagens">83 POSTAGENS</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>






</body>
</html>