<!DOCTYPE html>
<head lang="pt-br">
    <meta CHARSET="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/css/addform.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- link do css-->
    <link rel="stylesheet" href="../../../public/css/editandoUser.css">

    <title>Editar Usuário</title>
</head>
<body>
    <div class="page-container">
        <div class="page-content">
            <div class="page-img">
                <img src="../../../public/img/logo.png">
            </div>
            <div class="title">
                <h2>Editando Usuário</h2>
            </div>
            <form>
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" placeholder="Nome do usuário">
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email" placeholder="E-mail do usuário">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" disabled>
            </form>

            <div class="buttons">
                <input type="button" value="Voltar">
                <input type="submit" value="Editar">
            </div>
        </div>
    </div>
</body>