<!DOCTYPE html>
<head>
    <meta CHARSET="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>add user</title>
</head>
<body>
    <section class="area-adduser">
        <div class="info">
            <div>
                <img src="../../../public/img/logo.png">
            </div>
            <div class="titulo">
                <h1>Visualização de usuário:</h1>
                <hr>
            </div>
            <form>
                <label for="nome">Nome:</label><br>
                <p>NOME DO USUÁRIO</p>
                <label for="emailuser">E-mail:</label><br>
                <p>E-MAIL DO USUÁRIO</p>
                <div class="botoes">
                    <input type="button" value="Voltar">
                </div>



            </form>
        </div>
    </section>
</body>