<!DOCTYPE html>
<head>
    <meta CHARSET="UTF-8">
    <link rel="stylesheet" href="..\..\..\public\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Bebas+neue' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>
<body>
    <section class="area-login">
        <div class="login">
            <div>
                <img src="..\..\..\public\img\MatflixLogoText.png">
            </div>

            <form>
                <input type="text" name="nome" placeholder="Nome de Usuário" autofocus>
                <input type="password" name="senha" placeholder="Sua Senha">
                <input type="submit" value="Entrar">
            </form>
          <p>Ainda não tem uma conta?</p><a href="#">Criar Conta</a></p>
        </div>
    </section>
</body>
